<% provide:title, t(".page") %>
<h1><%= t ".page" %></h1>
<p>
    <%= link_to t(".name_book"), "http://www.railstutorial.org/" %>
    <%= t ".is_a" %>
    <%= link_to t(".status"), "http://www.railstutorial.org/book" %>
</p>

