<% provide :title, t("page_home") %>

<div class="center jumbotron">
  <h1><%= t ".welcome" %></h1>

  <h2>
    <%= link_to t("name_book"), "http://www.railstutorial.org/" %>
  </h2>

  <%= link_to t("page_new"), signup_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails logo"),
            "http://rubyonrails.org/" %>
